<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">

	<title>Auto Mart - Sign Up.</title>
</head>
<body>
	<main class="container">
		<div data-include="./includes/header.html" class="row or-x"></div>
				<div class="row shadow-effect or-y fit-content">
					<div class="row centered">
						<h4>SIgn Up with Auto Mart.</h4>
					</div>
					<form action="user/" class="row or-y" method="get" accept-charset="utf-8">
						<div class="row centered ">
							<input type="email" class="form-input" name="" value="" placeholder="Enter Your Email">
						</div>
						<div class="row centered">
							<input type="password" class="form-input" name= value="" placeholder="Enter your password">
						</div>
						<div class="row centered">
							<input type="password" class="form-input" name= value="" placeholder="Confirm your password">
						</div>
						<div class="row centered">
							<input type="submit" class="button" name="" value="Sign Up"/>
						</div>
					
					</form>
					<div class="row centered">
						<h6>Already have an account! <a href="login.html" title="">Login</a> Instead.</h6>
					</div>
				</div>
		<div data-include="./includes/footer.html" class="row or-x"></div>
	</main>
	
</body>
<script  src="../assets/js/csi.min.js"></script>
<script  src="../assets/js/main.js"></script>
</html>