<div class="row align-right">
	<a class="mini-menu" href="views/login.html" title="">Sign In</a>
</div>
<div class="row or-x-strict">
	<div class="column-3">
		<a href="/AutoMart/" title="" class="logo"></a>
	</div>
	<div class="column-2">
		<div class="navToggle">
			<a onclick="document.getElementsByClassName('nav')[0].toggle();">&#9776; Menu</a>
		</div>
	</div>
</div>
<div class="row">
	<nav class="column-5 nav">
			<ul>
				<li class="navbar-item"><a href="/AutoMart/views/buy-car.html" class="navbar-link">BUY</a></li>
				<li class="navbar-item"><a href="/AutoMart/views/sell-car.html" class="navbar-link">SELL/TRADE</a></li>
				<li class="navbar-item"><a href="/AutoMart/views/login.html"><button class="button hide-button"> Login </button></a></li>
				<li class="navbar-item"><a href="/AutoMart/views/signup.html"><button class="hide-button button button-reverse"> Sign Up </button></a></li>
			</ul>
	</nav>
</div>
</div>