
<header id="header" class="header">
	<a href="/" title="" class="logo"></a>
	<div class="navToggle">
		<a onclick="document.getElementsByClassName('nav')[0].toggle();">&#9776; Menu</a>
	</div>
<nav class="nav">
		<ul>
			<li class="navbar-item"><a href="" class="navbar-link">BUY</a></li>
			<li class="navbar-item"><a href="" class="navbar-link">SELL/TRADE</a></li>
			<li class="navbar-item"><a href="" class="navbar-link">ABOUT</a></li>
			<li class="navbar-item"><a href="" class="navbar-link">CONTACT</a></li>
		</ul>
</nav>	
</header>