<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<title>Auto Mart - Buy Car.</title>
</head>
<body>
	<div data-include="./includes/header.html"></div>
	<div class="buy-page-intro">
			<h3>Fast, safe and easy to buy and sell vehicles locally</h3>
			<h4>3000 cars available for sale</h4>
	</div>
	<main class="container">
		<div class="sidebar">
			<h1>Filters</h1>
		 <div class="filter-table form">
			<form action="" method="get" accept-charset="utf-8">
				<select class="form-select" id="">
				    <option value="">Manufacturer</option>
				    <option value="dog">Dog</option>
				    <option value="cat">Cat</option>
				    <option value="hamster">Hamster</option>
				    <option value="parrot">Parrot</option>
				    <option value="spider">Spider</option>
				    <option value="goldfish">Goldfish</option>
				</select>
				<select class="form-select" id="">
				    <option value="">Model</option>
				    <option value="dog">Dog</option>
				    <option value="cat">Cat</option>
				    <option value="hamster">Hamster</option>
				    <option value="parrot">Parrot</option>
				    <option value="spider">Spider</option>
				    <option value="goldfish">Goldfish</option>
				</select>
				<select class="form-select" id="">
				    <option value="">Body Type</option>
				    <option value="dog">Dog</option>
				    <option value="cat">Cat</option>
				    <option value="hamster">Hamster</option>
				    <option value="parrot">Parrot</option>
				    <option value="spider">Spider</option>
				    <option value="goldfish">Goldfish</option>
				</select>
				<select class="form-select" id="">
				    <option value="">State</option>
				    <option value="dog">Dog</option>
				    <option value="cat">Cat</option>
				    <option value="hamster">Hamster</option>
				    <option value="parrot">Parrot</option>
				    <option value="spider">Spider</option>
				    <option value="goldfish">Goldfish</option>
				</select>
				<button type="submit" class="button">Search</button>		
			</form>
				
		</div>
		<div class="pagination">
			  <a href="#">&laquo;</a>
			  <a href="#">1</a>
			  <a href="#">2</a>
			  <a href="#">3</a>
			  <a href="#">4</a>
			  <a href="#">5</a>
			  <a href="#">6</a>
			  <a href="#">&raquo;</a>
		</div>
		</div>
		<div class="main-content">
			<a href="" title="">
			<div class="lg-display-car">
				<span class="lg-display-car-img"></span>
				<span class="lg-display-car-desc">
					<h2> 2015 TOYOTA RAV4</h2>
					<table>
							<thead>
								<tr>
									<th>Price</th>
									<th>Mileage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>$10,000</td>
									<td>33k </td>
								</tr>
							</tbody>
						</table>
				</span>

			</div>
		</a>
		 	<a href="" title="">
			<div class="lg-display-car">
				<span class="lg-display-car-img"></span>
				<span class="lg-display-car-desc">
					<h2> 2015 TOYOTA RAV4</h2>
					<table>
							<thead>
								<tr>
									<th>Price</th>
									<th>Mileage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>$10,000</td>
									<td>33k </td>
								</tr>
							</tbody>
						</table>
				</span>
			</div>
		</a>
		<a href="" title="">
			<div class="lg-display-car">
				<span class="lg-display-car-img"></span>
				<span class="lg-display-car-desc">
					<h2> 2015 TOYOTA RAV4</h2>
					<table>
							<thead>
								<tr>
									<th>Price</th>
									<th>Mileage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>$10,000</td>
									<td>33k </td>
								</tr>
							</tbody>
						</table>
				</span>
			</div>
		</a>
		<a href="" title="">
			<div class="lg-display-car">
				<span class="lg-display-car-img"></span>
				<span class="lg-display-car-desc">
					<h2> 2015 TOYOTA RAV4</h2>
					<table>
							<thead>
								<tr>
									<th>Price</th>
									<th>Mileage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>$10,000</td>
									<td>33k </td>
								</tr>
							</tbody>
						</table>
				</span>
			</div>
		</a>
		<a href="" title="">
			<div class="lg-display-car">
				<span class="lg-display-car-img"></span>
				<span class="lg-display-car-desc">
					<h2> 2015 TOYOTA RAV4</h2>
					<table>
							<thead>
								<tr>
									<th>Price</th>
									<th>Mileage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>$10,000</td>
									<td>33k </td>
								</tr>
							</tbody>
						</table>
				</span>
			</div>
		</a>
		<a href="" title="">
			<div class="lg-display-car">
				<span class="lg-display-car-img"></span>
				<span class="lg-display-car-desc">
					<h2> 2015 TOYOTA RAV4</h2>
					<table>
							<thead>
								<tr>
									<th>Price</th>
									<th>Mileage</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>$10,000</td>
									<td>33k </td>
								</tr>
							</tbody>
						</table>
				</span>
			</div>
		</a>
		</div>
	</main>
	<div data-include="./includes/footer.html"></div>
</body>
<script  src="../assets/js/csi.min.js"></script>
<script  src="../assets/js/main.js"></script>
</html>