<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">

	<title>Auto Mart - Shop car.</title>
</head>
<body>
	<main class="container">
		<div data-include="./includes/header.html" class="row or-x"></div>
		<div class="row buy-page-intro">
			<div class="column-5">
				<h3>Fast, safe and easy to buy and sell vehicles locally</h3>
			</div>
		</div>
	<div class="row">
		<div class="column-1 shadow-effect or-y">
			<div class="row  centered">
				<h4>Apply filter</h4>
			</div>
			<div class="row">
				<form  class="row or-y" action="" method="get" accept-charset="utf-8">
					<div class="row centered ">
					<select class="form-select " id="">
					    <option value="">Manufacturer</option>
					    <option value="dog">one</option>
					    <option value="cat">two</option>
					    <option value="hamster">three</option>
					    <option value="parrot">four</option>
					    <option value="spider">five</option>
					</select>
					</div>
					<div class="row centered ">
					<select class="form-select" id="">
					    <option value="">Model</option>
					    <option value="dog">one</option>
					    <option value="cat">two</option>
					    <option value="hamster">three</option>
					    <option value="parrot">four</option>
					    <option value="spider">five</option>
					</select>
					</div>
					<div class="row centered ">
					<select class="form-select" id="">
					    <option value="">Body Type</option>
					    <option value="dog">one</option>
					    <option value="cat">two</option>
					    <option value="hamster">three</option>
					    <option value="parrot">four</option>
					    <option value="spider">five</option>
					</select>
					</div>
					<div class="row centered ">
					<select class="form-select" id="">
					    <option value="">State</option>
					    <option value="dog">one</option>
					    <option value="cat">two</option>
					    <option value="hamster">three</option>
					    <option value="parrot">four</option>
					    <option value="spider">five</option>
					</select>
					</div>
					<div class="row centered">
							<input type="submit" class="button" name="" value="Search"/>
					</div>		
				</form>
			</div>
		</div>
		<div class="column-4">
			<a href="#" class="row or-x shadow-effect">
				<div class="column-1">
					<img src="../assets/images/toyota.png" height="200px" alt="">
				</div>
				<div class="column-4 or-y">
					<div class="row">
						<h2> 2015 TOYOTA RAV4</h2>
					</div>
					<div class="row shadow-effect">
						<table class="column-5 or-x">
							<thead class="">
								<tr class="align-left or-x">
									<th>Price</th>
									<th>Mileage</th>
									<th>Brand</th>
								</tr>
							</thead>
							<tbody class="">
								<tr class="or-x">
									<td>$10,000</td>
									<td>33k </td>
									<td>Toyota</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</a>
			<a href="#" class="row or-x shadow-effect">
				<div class="column-1">
					<img src="../assets/images/toyota.png" height="200px" alt="">
				</div>
				<div class="column-4 or-y">
					<div class="row">
						<h2> 2015 TOYOTA RAV4</h2>
					</div>
					<div class="row shadow-effect">
						<table class="column-5 or-x">
							<thead class="">
								<tr class="align-left or-x">
									<th>Price</th>
									<th>Mileage</th>
									<th>Brand</th>
								</tr>
							</thead>
							<tbody class="">
								<tr class="or-x">
									<td>$10,000</td>
									<td>33k </td>
									<td>Toyota</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</a>
			<a href="#" class="row or-x shadow-effect">
				<div class="column-1">
					<img src="../assets/images/toyota.png" height="200px" alt="">
				</div>
				<div class="column-4 or-y">
					<div class="row">
						<h2> 2015 TOYOTA RAV4</h2>
					</div>
					<div class="row shadow-effect">
						<table class="column-5 or-x">
							<thead class="">
								<tr class="align-left or-x">
									<th>Price</th>
									<th>Mileage</th>
									<th>Brand</th>
								</tr>
							</thead>
							<tbody class="">
								<tr class="or-x">
									<td>$10,000</td>
									<td>33k </td>
									<td>Toyota</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</a>

		</div>
	</div>
	<div class="row fit-content shadow-effect or-x">
		<div class="pagination">
			  <a href="#">&laquo;</a>
			  <a href="#">1</a>
			  <a href="#">2</a>
			  <a href="#">3</a>
			  <a href="#">4</a>
			  <a href="#">5</a>
			  <a href="#">6</a>
			  <a href="#">&raquo;</a>
		</div>
	</div>
		<div data-include="./includes/footer.html" class="row or-x"></div>
	</main>
	
</body>
<script  src="../assets/js/csi.min.js"></script>
<script  src="../assets/js/main.js"></script>
</html>