<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<title>AutoMart - Login</title>
</head>
<body>
	<div class="centered">
		<div class="centered">
			<h1 class="logo"></h1>
		</div>
		<div class="centered form">
			<p>Welcome back! Login to access your AutoMart Account</p>
			<form action="" method="post" accept-charset="utf-8">
				<div class="form-group centered">
					<label for="email">Email :</label>
					<input type="text" class="form-input" name="email" value="" placeholder="Enter your Email address" required>
				</div>
				<div class="form-group centered">
					<label for="password">Password :</label>
					<input type="password"  class="form-input" name="password" value="" placeholder="Enter your password" required>
				</div>
				<div class="form-group centered">
					<input type="submit" class="button " name="" value="Login"/>
				</div>
			</form>
			<p>Need an Account? <a href="signup.html" title="">Sign Up!</a></p>
		</div>
	</div>
</body>
<script  src="../assets/js/csi.min.js"></script>
</html>