<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<title>Auto Mart - Sell Car.</title>
</head>
<body>
	<div data-include="./includes/header.html"></div>
	<div class="sell-page-intro">
			<h3>Post your Advert here.</h3>
	</div>
	<main class="">
				<div class="centered form">
			<h5>POST YOUR AD Just a few steps and finished!</h5>
			<form action="" method="post" accept-charset="utf-8">
				<div class="form-group ">
					<label for="Price">Price:</label>
					<input type="text" class="form-input" name="first name" value="" placeholder="Enter Price" required>
				</div>
				<div class="form-group">
				<p>Condition:</p>
					 <p>
					    <input type="radio" class="form-radio" id="new" name="radio-group" checked>
					    <label for="new">New</label>
					  </p>
					  <p>
					    <input type="radio" class="form-radio" id="used" name="radio-group">
					    <label for="used">Used</label>
					  </p>
				</div>
				<div class="form-group">
					<label for="">Brand:</label>
					<select class="form-select" id="">
					    <option value="">Choose Brand</option>
					    <option value="dog">Dog</option>
					    <option value="cat">Cat</option>
					    <option value="hamster">Hamster</option>
					    <option value="parrot">Parrot</option>
					    <option value="spider">Spider</option>
					    <option value="goldfish">Goldfish</option>
					</select>
				</div>
				<div class="form-group ">
					<label for="">Model:</label>
					<select class="form-select" id="">
					    <option value="">Choose Model</option>
					    <option value="dog">Dog</option>
					    <option value="cat">Cat</option>
					    <option value="hamster">Hamster</option>
					    <option value="parrot">Parrot</option>
					    <option value="spider">Spider</option>
					    <option value="goldfish">Goldfish</option>
					</select>
				</div>
				<div class="form-group ">
					<label for="">Body Type:</label>
					<select class="form-select" id="">
					    <option value="">Choose Body type</option>
					    <option value="dog">Dog</option>
					    <option value="cat">Cat</option>
					    <option value="hamster">Hamster</option>
					    <option value="parrot">Parrot</option>
					    <option value="spider">Spider</option>
					    <option value="goldfish">Goldfish</option>
					</select>
				</div>
				<div class="form-group">
					<label for="photo">Upload picture :</label>
					<input type="file"  class="form-input" name="photo" value="" required>
				</div>
				<div class="form-group centered">
					<input type="submit" class="button" name="" value="Post"/>
				</div>
			</form>
		</div>
	</main>
	<div data-include="./includes/footer.html"></div>
</body>
<script  src="../assets/js/csi.min.js"></script>
<script  src="../assets/js/main.js"></script>
</html>