<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<title>AutoMart - Sign Up</title>
</head>
<body>
	<div class="centered">
		<div class="centered">
			<h1 class="logo"></h1>
		</div>
		<div class="centered form">
			<p>Create your free account with AutoMart</p>
			<form action="" method="post" accept-charset="utf-8">
				<div class="form-group centered">
					<label for="firstname">First Name :</label>
					<input type="text" class="form-input" name="first name" value="" placeholder="Enter your first name" required>
				</div>
				<div class="form-group centered">
					<label for="lastname">Last Name :</label>
					<input type="text" class="form-input" name="lastname" value="" placeholder="Enter your lastname" required>
				</div>
				<div class="form-group centered">
					<label for="email">Email :</label>
					<input type="email" class="form-input" name="email" value="" placeholder="Enter your Email address" required>
				</div>
				<div class="form-group centered">
					<label for="password">Password :</label>
					<input type="password"  class="form-input" name="password" value="" placeholder="Enter your password" required>
				</div>
				<div class="form-group centered">
					<label for="conf-password">Confirm Password :</label>
					<input type="password"  class="form-input" name="conf-password" value="" placeholder="Confirm password" required>
				</div>
				<div class="form-group centered">
					<input type="submit" class="button" name="" value="Sign Up"/>
				</div>
			</form>
			<p>Already have an account? <a href="login.html" title="">Sign In!</a></p>
		</div>
	</div>
</body>
<script  src="../assets/js/csi.min.js"></script>
</html>