body{
  color: #333;
}
th{
  border-spacing: 0px;
  text-align: left;
}
a{
  text-decoration: none;
  color: #333;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.row{
	display: flex;
	flex-wrap: wrap;	
	flex: 1;
}
.or-x{
  flex-direction: column;
}
.or-x-strict{
  flex-direction: row;
}
.align-left{
  align-content:  flex-start;
}
.or-y{
  flex-direction: column;
}
.fit-content{
  align-self: center;
}
.shadow-effect{
  padding: 1.5rem 2rem;
  margin : 5px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.centered {
	margin : auto;
}
.column-1{
  flex:1;
}
.column-2{
  flex:2;
}
.column-3{
  flex:3;
}
.column-4{
  flex:4;
}
.column-5{
  flex:5;
}
.footer{
  border-top: 1px solid #91C9E8;
}
.form-input{
  position: relative;
  padding: .9em 1.8em;
  border: 1px solid #3399CC;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
}
/**********************************/
.home-page-intro{
  width: 100%;
  height: 12.8rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/teslas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}
.home-page-intro > div >h3{
   color: white;
   text-align: center;
}
/**********************************/
.buy-page-intro{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/buy.jpg ');
    background-size: cover;
    height: 120px;
    text-align: center;
    padding: 10px;
}
.buy-page-intro > div > h3{
    color: white;
  }
/************************************/
.sell-page-intro{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/sell.jpg ');
    background-size: cover;
    height: 120px;
    text-align: center;
    padding: 10px;
    color: white;
}
.sell-page-intro > div > h3{
    color: white;
  }

/*************************************/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 1px solid #3399CC;
  background-color: white;
  padding: .9em 1.8em;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/**************************************/
.form-select{
  background: #fff;
  margin: inherit;
  letter-spacing:1px;
  width: 170px;
  font-weight:bold;
  overflow: hidden;
  padding: .9em 1.8em;
  border: 1px solid #3399CC;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
}
/**************************************/
.button{
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  display: inline-block;
  border-radius:40px;
  background: #fff;
  border: 2px solid #3399CC;
  color: #3399CC;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.button:hover{
  color:white;
  background: #3399CC;
}
.button:active{
  letter-spacing: 2px ;
}
.button-delete{
  border: 2px solid red;
  color: red;
}
.button-delete:hover{
  color:white;
  background: red;
}
@media all and (min-width: 600px) {
	.or-x{
  		flex-direction: row;
	}
	.or-y{
		flex-direction: column;
	}
  .home-page-intro{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/telsa1-big.jpg ');
    background-size: cover;
    height: 400px;
}
}

