/*Main*/
body {
    color: black;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, caption {
    font-family: 'Montserrat', sans-serif;
}
.container{
  display: inline-block;
}

/************** Header module *************************/
.header {
    border-bottom: 1px solid #91C9E8;
    display: flex;
    flex-direction: column;
}
.navToggle{
  position: absolute;
  right: 0;
  top: 1;
  transition: 300ms all ease;
}
.navToggle > a {
  display: block;
  font-size: 1.2em;
  color: #3399CC;
  line-height: 4.4rem;
  font-weight: 600;
  padding: 0 2rem;
  transition: 300ms all ease;
}
.navToggle:hover  > a{
  color: #67B8DE;
}

.nav{
  display: none;
  flex: 1;
  transform: 300ms all ease;
}
.nav > ul{
  list-style-type: none;
}
.navbar-item{
  border-bottom: 1px dotted rgba(0,0,0,.1);
  position: relative;
  letter-spacing: 0px;
}
.navbar-item:hover{
  letter-spacing: 0.2px;
}
.navbar-link{
  display: block;
  color: rgba(0,0,0,.65);
  font-weight: 700;
  padding: 1.5rem 0;
  text-decoration: none;
  transition: 250ms all ease;
}


/*************** Logo module***************************/

.logo::before{
	content: '\1F697 \ Auto Mart';
	font-family: 'Shrikhand', cursive;
	color: #3399CC;
  font-size: 1.5rem;
  line-height: 70px;
  position: relative;
}
.centered{
	margin: 0 auto;
	padding: 10px;
}
/************* Home page intro ************************/
.home-page-intro{
  width: 100%;
  height: 12.8rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/teslas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}
.home-page-intro > h1{
  text-align: center;
  color: white;
  padding-top: 3rem;
}
.home-page-intro > h3{
  text-align: center;
  color: white;
  padding-top: 1rem;
}
/************* Buy Page    ***************************/

.buy-page-intro > h4{
    color: white;
  }
.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}
.main-content{
  margin-left: 0px;
  padding:0px 0px;
  width: 100%;
}
.pagination {
  display: block;
  position: relative;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 13px;
  text-decoration: none;
  text-align: center;
}
.pagination a.active {
  background-color: #3399CC;;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #3399CC;}
/************* sell page   ***************************/
.sell-page-intro{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/sell.jpg ');
    background-size: cover;
    height: 120px;
    text-align: center;
    padding: 10px;
    color: white;
}
/************ car detail page ************************/

/************* Form module ***************************/
.form {
	max-width: 30rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.form > h5{
  text-align: center;
}

.form-group {
    padding-top: 1rem;
    width: auto;
}
.form-group > label{
  display: inline-block;
  text-align : left;
  width: 100%;
}
.form-group > input[type="file"]{
    width: 70%;
  }

/************* buttons ********************************/

/****** Advert display *************************************/
.display-car-row{
  display: inline-block;
  top:0;
  right: 0;
  padding: 3px;
}
.lg-display-car{
  width: auto;
  display: inline-block;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  color :black;
}
.lg-display-car > span{
  float :left;
  clear:none;
}
.lg-display-car-img{
  background-image: url('../images/toyota.png ');
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  display: block;
}
.lg-display-car-desc{
  padding-left: 2rem;
}
.lg-display-car-desc h4{
  text-align: center;
}
.lg-display-car-desc table{
  padding-left: 2rem;
  margin-bottom: 1rem; 
  text-align: left;
  width: 100%;
}

.display-car{
  width: 120px;
  display: inline-block;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 10px;
}
.display-car-img{
  background-image: url('../images/toyota.png ');
  background-size: contain;
  background-repeat: no-repeat;
  height: 110px;
  max-width: 300px;
  display: block;
}
.display-car-desc{
  display: inline-block;
  color: black;

}
.display-car-desc p{;
  display: inherit;
  font-size: 14px;
}
.display-car-desc table{
  width: 100;
  text-align: left;
}
.display-car-desc table > th{
  font-weight: normal;
}

/****** Medium screens ************************************/
@media all and (min-width: 600px) {
  .form-group > label{
    text-align: right;
    width: 33.33%;
    }
  .form-group > p{
    text-align: right;
    width: 33.33%;
    }
  .form-group > input[type="submit"]{
    margin-left: 33.333%;
  }
  .form-group > input[type="file"]{
    width: auto;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    position: fixed;
    height: auto;
    overflow: auto;
  }
.lg-display-car{
  width: 55rem;
  height: 14rem;
  margin-bottom: 10px;
  display: inline-block;
}
.lg-display-car > span{
  float :left;
  clear:none;
}
.lg-display-car-img{
  background-image: url('../images/toyota.png ');
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
  display: block;
}


  .main-content{
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
    width: 20rem;  
  }
  .navToggle{
    display: none;
  }
  .display-car{
    width: 200px;
    padding-bottom: 10px;
  }
  .display-car-img{
    height: 120px;
    width: 200px;
  }
  .home-page-intro{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../images/telsa1-big.jpg ');
    background-size: cover;
    height: 400px;
  }
  .header{
    background-color: transparent;
  }
  .home-page-intro > h1,h3{
    font-size: 30px;
  }
  .nav{
    display: block !important;
    position: absolute;
    right: 0;
    top: 1rem;
    transition: 300ms all ease;
  }
  .nav > ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  .navbar-item{
    border-bottom: none;
  }
  .navbar-link{
    padding: 0 1.25rem;
    color: #3399CC;
  }
}



