body{
  color: #333;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding-top: 10px;
}
h1, h2, h3, h4, h5, h6, caption {
    font-family: 'Montserrat', sans-serif;
}
th{
  border-spacing: 0px;
  text-align: left;
}
a{
  text-decoration: none;
  color:#3399CC;
}


.container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.row{
	display: flex;
	flex-wrap: wrap;	
	flex: 1;
}
.or-x{
  flex-direction: column;
}
.or-x-strict{
  flex-direction: row;
}
.align-left{
  align-content:  flex-start;
}
.align-right{
  justify-content: flex-end;
}
.or-y{
  flex-direction: column;
}
.fit-content{
  align-self: center;
}
.shadow-effect{
  padding: 1.5rem 2rem;
  margin : 5px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.centered {
	margin : auto;
}
.column-1{
  flex:1;
}
.column-2{
  flex:2;
}
.column-3{
  flex:3;
}
.column-4{
  flex:4;
}
.column-5{
  flex:5;
}
.logo::before{
  content: 'Auto Mart';
  font-family: 'Shrikhand', cursive;
  color: #3399CC;
  font-size: 1.5rem;
  line-height: 70px;
  position: relative;
}
.pagination {
  display: block;
  position: relative;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 13px;
  text-decoration: none;
  text-align: center;
}
.pagination a.active {
  background-color: #3399CC;;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #3399CC;}
.footer{
  background-color: black;
  text-align: center;
  color: white;
}
.form-input{
  position: relative;
  padding: .9em 1.8em;
  border: 1px solid #3399CC;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
}
/************** Header module *************************/
.header {
    border-bottom: 1px solid #91C9E8;
    display: flex;
    flex-direction: column;
}
.navToggle{
  position: absolute;
  right: 0;
  top: 1;
  transition: 300ms all ease;
}
.navToggle > a {
  display: block;
  font-size: 1.2em;
  color: #3399CC;
  line-height: 4.4rem;
  font-weight: 600;
  padding: 0 2rem;
  transition: 300ms all ease;
}
.navToggle:hover  > a{
  color: #67B8DE;
}

.nav{
  display: none;
  flex: 1;
  transform: 300ms all ease;
}
.nav > ul{
  list-style-type: none;
}
.navbar-item{
  border-bottom: 1px dotted rgba(0,0,0,.1);
  position: relative;
  letter-spacing: 0px;
}
.navbar-item:last-child{
  margin-top: -10px;
}
.navbar-item:nth-last-child(2){
  margin-right: 3px;
}
.navbar-link{
  display: block;
  color: rgba(0,0,0,.65);
  font-weight: 700;
  padding: 1.5rem 0;
  text-decoration: none;
  transition: 250ms all ease;
}
.mini-menu{
  padding-right: 1.5rem;
  color: #3399CC;
}
/**********************************/
.home-page-intro{
  width: 100%;
  height: 12.8rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../assets/images/teslas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
}
.home-page-intro > div >h3{
   color: white;
   text-align: center;
}
/**********************************/
.buy-page-intro{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../assets/images/buy.jpg ');
    background-size: cover;
    height: 120px;
    text-align: center;
    padding: 10px;
}
.buy-page-intro > div > h3{
    color: white;
  }
/*************************************/

.form-group {
    padding-top: 1rem;
    width: auto;
}
.form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.centered{
  margin: 0 auto;
  padding: 10px;
}
/************************************/
.sell-page-intro{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../assets/images/sell.jpg ');
    background-size: cover;
    height: 120px;
    text-align: center;
    padding: 10px;
    color: white;
}
.sell-page-intro > div > h3{
    color: white;
  }

/*************************************/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: 1px solid #3399CC;
  background-color: white;
  padding: .9em 1.8em;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/**************************************/
.form-select{
  background: #fff;
  margin: inherit;
  letter-spacing:1px;
  width: 170px;
  font-size: 14px;
  font-weight:bold;
  overflow: hidden;
  padding: .9em 1.8em;
  border: 1px solid #3399CC;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  transition: all .1s linear;
}
/**************************************/
.button{
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  display: inline-block;
  border-radius:40px;
  background: #fff;
  border: 2px solid #3399CC;
  color: #3399CC;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.button-reverse{
  color:white;
  background: #3399CC;
}
.button:hover{
  color:white;
  background: #3399CC;
}
.button-reverse:hover{
  color: #3399CC;
  background: #fff;
}
.button:active{
  letter-spacing: 2px ;
}
.button-delete{
  border: 2px solid red;
  color: red;
}
.button-delete:hover{
  color:white;
  background: red;
}
.hide-button{
  display: none;
}
.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  float: right;
  padding: 4px;
  margin-top: 7px;
}
.logout-btn {
  text-decoration: none;
	float: right;
  color: #3399CC;
  background-color: white;
}
@media all and (min-width: 600px) {
	.or-x{
  		flex-direction: row;
	}
	.or-y{
		flex-direction: column;
	}
  .home-page-intro{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('../assets/images/telsa1-big.jpg ');
    background-size: cover;
    height: 400px;
}
  .home-page-intro > div > h3{
    font-size: 35px;
  }
.header{
    background-color: transparent;
  }
.navToggle{
    display: none;
  }
  .nav{
    display: block !important;
    position: absolute;
    right: 0;
    top: 1rem;
    transition: 300ms all ease;
  }
  .nav > ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  .navbar-item{
    border-bottom: none;
  }
  .navbar-link{
    padding: 0 1.25rem;
    color: #3399CC;
  }
  .button{
    display: initial;
  }
  .mini-menu{
   display: none;
  }
}

@media all and (min-width: 1300px) {
  * {
    font-size: 21px;
  }
}
